{% load static %}

<div class="owl-carousel hero-slide owl-style">
  {% for news in slider_news %}
    <div class="site-section">
      <div class="container">
        <div class="half-post-entry d-block d-lg-flex bg-light">
          <div class="img-bg" style="background-image: url('{{news.cover_image.url}}')"></div>
          <div class="contents">
            <span class="caption">Editor's Pick</span>
            <h2><a href="blog-single.html">{{news.title}}</a></h2>
            <p class="mb-3">{{news.content}}</p>
            
            <div class="post-meta">
              <span class="d-block"><a href="#">{{news.author}}</a> in <a href="#">{{news.category}}</a></span>
              <span class="date-read">{{news.created_at}} <span class="mx-1">&bullet;</span></span>
            </div>

          </div>
        </div>
      </div>
    </div>
   {% endfor %}
    


  </div>